<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}">
    <title>Home</title>
</head>

<body>

<nav th:replace="~{fragments/layout :: mainNavbar}"></nav>

<header th:replace="~{fragments/layout :: flashHeader}"></header>

<main class="container-fluid py-5 text-center">
    <!-- Your specific content goes here -->
    <div class="section">

        <h2>History</h2>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody th:each="transaction : ${history}">
            <!-- TODO: Loop through the database entries to display them in this table -->
            <tr>
                <td th:text="${transaction.getAction()}"></td>
                <td th:text="${transaction.getPrice()}"></td>
                <td th:text="${transaction.getQuant()}"></td>
                <td th:text="${transaction.getName()}"></td>
                <td th:text="${transaction.getDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- ... (other content) ... -->
</main>

<footer th:replace="~{fragments/layout :: mainFooter}"></footer>

</body>

</html>
