<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}">
    <title>Home</title>
</head>

<body>

<nav th:replace="~{fragments/layout :: mainNavbar}"></nav>

<header th:replace="~{fragments/layout :: flashHeader}"></header>

<main class="container-fluid py-5 text-center">
    <!-- Your specific content goes here -->
    <div class="section">

        <h2>Your stocks</h2>
        <table>
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody th:each="stock : ${stocks}">
            <!-- Loop through the database entries to display them in this table -->
            <tr>
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.quant}"></td>
                <td th:text="${stock.price}"></td>
                <td th:text="${stock.total}"></td>
            </tr>
            <tr>
                <td>
                    <form action="/buyConfirm" method="post" th:action="@{/homeBuyConfirm}">
                        <input type="hidden" name="symbol" th:value="${stock.name}" />
                        <input type="hidden" name="price" th:value="${stock.price}" />
                        <input autocomplete="off" autofocus name="shares" placeholder="quantity" type="text" required />
                        <button class="btn btn-primary" type="submit">Buy</button>
                    </form>
                </td>
                <td>
                    <form action="/sellConfirm" method="post" th:action="@{/homeSellConfirm}">
                        <input type="hidden" name="symbol" th:value="${stock.name}" />
                        <input type="hidden" name="price" th:value="${stock.price}" />
                        <input autocomplete="off" autofocus name="shares" placeholder="quantity" type="text" required />
                        <button class="btn btn-primary" type="submit">Sell</button>
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <h2>Wallet: <span th:text="${#numbers.formatDecimal(cash, 0, 'COMMA', 2, 'POINT')}"></span></h2>
        <h2>Total: <span th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span></h2>
    </div>

    <!-- ... (other content) ... -->
</main>

<footer th:replace="~{fragments/layout :: mainFooter}"></footer>

</body>

</html>
