<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}">
    <title>sell</title>
</head>

<body>

<nav th:replace="~{fragments/layout :: mainNavbar}"></nav>

<header th:replace="~{fragments/layout :: flashHeader}"></header>

<main class="container-fluid py-5 text-center">
    <!-- Your specific content goes here -->
    <form action="/sell" method="post" th:action="@{/sell}" >
        <div id="search" class="container mb-3 input-group px-2">
            <select name="symbol" class="form-control mx-auto w-auto" id="symbol">
                <option value="disable">Choose a stock</option>
                <th:block th:each="stock : ${stocks}">
                    <option th:value="${stock.name}" th:text="${stock.name}"></option>
                </th:block>
            </select>

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quantity" name="shares" placeholder="quantity" type="text" required>

            <div class="input-group-append">
                <button class="btn btn-primary ml-2" type="submit">Quote</button>
            </div>
        </div>
    </form>
    <th:block th:if="${stockName}">
        <div class="section">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <!--through the database entries to display them in this table -->
                <tr>
                    <td th:text="${stockName}"></td>
                    <td th:text="${stockPrice}"></td>
                    <td th:text="${shares}"></td>
                    <td th:text="${total}"></td>
                    <td>
                        <form onsubmit="return confirm('Are you sure you want to SELL this many stocks?');" action="/sellConfirm" method="post" th:action="@{/sellConfirm}">
                            <button type="submit" name="sell">SELL</button>
                            <input type="hidden" name="symbol" th:value="${stockName}">
                            <input type="hidden" name="price" th:value="${stockPrice}">
                            <input type="hidden" name="shares" th:value="${shares}">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

    <!-- ... (other content) ... -->
</main>

<footer th:replace="~{fragments/layout :: mainFooter}"></footer>

</body>

</html>
